<link rel="stylesheet" href="/css/signup.css">


<div class="background"></div>

<div class="container">
    
    <div class="signup-box">
        <h1>Sign Up</h1>
        <form class="signup-form" action="/hod/create" method="post">


            <div class="input-container">    
                <input type="text" class="text-input"  placeholder="" autocomplete="off" id="username" name="username" required>
                <label for="username" class="label">Username</label>
            </div>

            <div class="input-container">
                <input type="email" class="text-input"  placeholder="" autocomplete="off" id="email" name="email" required>
                <label for="email" class="label">E-mail id</label>
            </div>
            
            <div class="input-container">    
              <input type="text" class="text-input"  placeholder="" autocomplete="off" id="userid" name="userid" required>
              <label for="userid" class="label">User-ID</label>
          </div>
            
            <div class="input-container">    
                <input type="text" class="text-input"  placeholder="" autocomplete="off" id="department" name="department" required>
                <label for="department" class="label">Department</label>
            </div>

            <div class="input-container">    
                <input type="password" class="text-input" placeholder="" autocomplete="off" id="password" name="password" required>
                <label for="password" class="label">Password</label>
            </div>

            <div class="input-container">
                <input type="password" class="text-input" placeholder="" autocomplete="off" id="confirm-password" name="confirm-password" required>
                <label for="confirm-password" class="label">Confirm Password</label>
            </div>

            <div class="submit-button">
                <button type="submit">Sign Up</button>
            </div>
                
        </form>
        <div class="signin-link">
            <p class="login-link">Already have an account? <a href="/hod/login">sign in here</a></p>
        </div>
    </div>
</div>


