
<link rel="stylesheet" href="/css/roles.css">
<div class="role">
  <h1>Select The Role</h1>
  <button class="btn" id="dean-btn"><a href="#">Dean</a></button>
  <button class="btn" id="hod-btn"><a href="/hod/signin">Head Of Department</a></button>
  <button class="btn" id="staff-btn"><a href="#">Staff</a></button>
</div>