
<link rel="stylesheet" href="/css/roles.css">
<div class="container">
  <h1>Select Role</h1>
  <a href="#"><button class="btn" id="dean-btn">Dean</button></a>
  <a href="/hod/sign-up"><button class="btn" id="hod-btn">Head Of Department</button></a>
  <a href="#"><button class="btn" id="staff-btn">Staff</button></a>
</div>
